.DS_Store
local.env


# https://github.com/github/gitignore/blob/master/Terraform.gitignore
**/.terraform/*
*.tfstate
*.tfstate.*

# we don't have meaningful js dependencies, so we're not tracking yarn.lock
yarn.lock
